<!-- Componente Pai -->

<h2>Meus Herois</h2>
<ul class="herois">
  <li *ngFor="let heroi of herois">
    <a routerLink="/detalhe/{{heroi.id}}">
      <span class="badge">{{heroi.id}}</span> {{heroi.nome}}
    </a>
  </li>
</ul>

<!-- Conecta a propriedade heroiSelecionado do component pai a
      propriedade heroi do component filho -->
<app-heroi-detalhe [heroi]="heroiSelecionado"></app-heroi-detalhe>













<!-- <div *ngIf="heroiSelecionado">  
    <h2>Detalhes do {{heroiSelecionado.nome | uppercase}}</h2>
    <div>
      <span>id:</span>{{heroiSelecionado.id}}
    </div>
    <div>
      <label>Nome:
        <input [(ngModel)] ="heroiSelecionado.nome" placeholder="nome">
      </label>
    </div>
</div> -->

